<!doctype html>
<html lang="en" xmlns:th="https://thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <title>View Page</title>
  </head>
  <style>
body{
background-color:#FAFAD2;
background-image:url(../images/n3.png);
background-repeat:no-repeat;
background-attachment:fixed;
background-size:cover;
padding:100px;
margin:100px;}
.btn-xl {
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
}</style>
  <body style="background-color: #FFE4B5">
   <!-- navbar -->
   <nav class="navbar navbar-expand-lg navbar-primary bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Employee Management System</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
<div th:if=${session.msg}>
    <div class="alert alert-success" role="alert" th:text="${session.msg}">
	</div>
	<th:block th:text="${#session.removeAttribute('msg')}"></th:block>
</div>

<div class="container p-5">
	<table class="table table-dark table-striped">
		<thead class="bg-primary text-white">
			<tr>
				<th scope="col">Id</th>
				<th scope="col">Name</th>
				<th scope="col">Address</th>
				<th scope="col">Designation</th>
				<th scope="col">Salary</th>
				<th scope="col">Action</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="e: ${emp}">
				<th th:text="${e.id}"></th>
				<td th:text="${e.name}"></td>
				<td th:text="${e.address}"></td>
				<td th:text="${e.designation}"></td>
				<td th:text="${e.salary}"></td>
				<td>
				<a class="btn btn-sm btn-primary" th:href="@{/empeditform/{id}(id=${e.id})}">Edit</a>
				<a class="btn btn-sm btn-danger" th:href="@{/delete/{id}(id=${e.id})}">Delete</a>
				</td>
			</tr>
		</tbody>
	</table>

</div>
    <a href="empform">Return to add Employee</a>
  </body>
</html>