<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
	 <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <title>User Page</title>
    
  </head>
<style>

body{
font:13px/20px;
color: #800000;

background-image:url(../images/111.jpg);
background-repeat:no-repeat;
background-attachment:fixed;
background-size: 100% 100%;


 }
 .navbar a:hover, .dropdown:hover .dropbtn {
  background-color:white;
}
  .card-body{background-color: #C0C0C0;
 }
 .form-group{background-color: #C0C0C0}
 
</style>
<body>
<nav class="navbar navbar-expand-lg navbar-white bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" th:href=@{adduser}>Add User</a>
    <a class="navbar-brand" th:href=@{viewuser}>View User</a>
    <a class="navbar-brand" th:href=@{addpatients}>Add Patient</a>
    <a class="navbar-brand" th:href=@{viewpatients}>View Patient</a>
    <a class="navbar-brand" th:href=@{addmedicine}>Add Medicine</a>
    <a class="navbar-brand" th:href=@{viewmedicine}>View Medicine</a>
    <a class="navbar-brand" th:href=@{addapp}>Add Appointment</a>
    <a class="navbar-brand"  th:href=@{viewapp}>View Appointment</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  </div>
</nav>


<!-- nabar -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    -->
  <br>
  <div class="container">
  	<div class="row">
  		<div class="col-md-3 offset-md-0">
  			<div class="card">
  				<div class="card-body">
  					<h4>Update New User</h4>
	<form action="#" th:action="@{/saveuse}" th:object="${use}"
		method="POST">
			
  						
  		<div class="form-group">
		<label>ID</label><input type="text" class="form-control" th:field="*{id}">
		</div>
		<div class="form-group">
		<label>User Name</label><input type="text" class="form-control" th:field="*{uname}">
		<div>
		<div class="form-group">
		<label>Password</label><input type="text"class="form-control" th:field="*{password}">
		</div>
		<div class="form-group">
		<label>Role</label><input type="text" class="form-control" th:field="*{role}">
		</div>
		

<a th:href=@{/adminlogin}><button class="btn btn-primary bth-block">Save</button></a>

		
	</form>
	</div></div></div></div></div>
</body>
</html>